<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="pb-3 mb-4 border-bottom text-center shadow text-bg-primary">
        <div class="sticky-xl-top"><h1>URL Shortener</h1></div>
    </header>
    <div class="container-fluid body-content">
        @RenderBody()
        

    </div>
    <footer class="shadow text-bg-primary">
        <p>&copy; @DateTime.Now.Year - URL Shortener</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
